body {
  background-color: #e3e7e8;
  font-family: 'Lora', serif;
  line-height: 1.2;
  font-size: 16px;
  text-align: center
}

h1 {
  color: #4b4e4f;
  font-size: 35px;
  font-weight: 800;
}

h3 {
  font-size: 25px;
  color: #4b4e4f;
}

h4 {
  font-size: 25px;
  color: #4b4e4f;
  padding: 0 auto;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #546266;
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
}

a:hover{
  color: #b5cec2;
}

p {
  font-size: 15px;
}


.container {
  width: 750px;
  margin: 2% auto;
}

.card {
  background: #c5dfe5;
  padding: 30px;
  margin: 25px 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card-image-size {
  height: 200px;
  width: 30%;
  border-radius: 25%;
  position: static;
}

.fa {
  font-size: 1.5em;
  text-align: center;
}


#card-image-intrest-size {
  height: 150px;
  width: 40%;
  border-radius: 25%;
  position: static;
}

.sidebar {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #e3e7e8;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}


#page-content {
  margin-left: 300px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

